NODE_ENV = Development

DISCORD_TOKEN = 'Discord Token'


## For developing new features and be tested in a local server
CLIENT_ID = 'Server for testing'
SERVER_ID = 'ID of the server'

## OpenWeatherMap API key
OPENWEATHER_KEY = 'Open Weather Map API Key'

## Tenor API
TENOR_KEY = 'Tenor API KEY'

## Discord User ID ADMIN
DISCORD_USER_ID = 'Discord User ID'